<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeINFpR2RtTpcMqPNftx64Rsr_5fSHvSM</string>
	<key>GCM_SENDER_ID</key>
	<string>381278712395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistLink1</string>
	<key>PROJECT_ID</key>
	<string>sistlink-39ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>sistlink-39ae5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381278712395:ios:b5e8bf9fcab9aea82b53ce</string>
</dict>
</plist>